## Cheat Sheet

The more topical the workshop, the more likely it is I'll be looking things up, copying, and pasting. Here's an overview of the common commands, imports, and methods you will need and probably won't remember.

### Imports

sqlite3 module to connect to a local SQLite database.

In [6]:
import sqlite3

Pandas for pandas dataframe operations

In [7]:
import pandas as pd

pandsql module to do SQL operations directly on dataframes

In [8]:
from pandasql import sqldf
pysqldf = lambda q: sqldf(q, globals())

### Dataset (sql-like) operations using pandas dataframes

You don't have to leave Pandas if you'd prefer to stick with python and not use SQL. For a good overview of equivalent operations between pandas and sql, see:

https://pandas.pydata.org/pandas-docs/stable/getting_started/comparison/comparison_with_sql.html

Load CSV files directly into a pandas dataframe

In [11]:
species_df = pd.read_csv('data/species.csv')
surveys_df = pd.read_csv('data/surveys.csv')

In [21]:
vertical_stack = pd.concat([surveys_df.head(5), surveys_df.tail(5)], axis=0)

In [33]:
#vertical_stack

In [23]:
#inner join
inner_join_df = pd.merge(left=species_df, right=surveys_df, 
                         left_on='species_id', right_on='species_id')

In [34]:
#inner_join_df.head(10)

In [12]:
# indexes, sorting
inner_join_df.sort_values(['record_id'])
inner_join_df.reset_index()

In [35]:
#inner_join_df.head(10)

In [30]:
# outer join
left_outer_join_df = pd.merge(left=species_df, right=surveys_df, how='left', 
                         left_on='species_id', right_on='species_id')

In [36]:
#left_outer_join_df.head(10)

In [32]:
# direct db connections
conn = sqlite3.connect("data/portal_mammals.sqlite")
c = conn.cursor()

In [16]:
#for row in c.execute('SELECT * FROM species LIMIT 5'):
#    print(row, ':', row[0])

In [18]:
# directly to a pandas dataframe
df_species = pd.read_sql_query("SELECT * from species", conn)

In [20]:
# create a new table or view
c.execute("CREATE VIEW distinct_taxa_view AS SELECT DISTINCT taxa FROM species")

In [21]:
# create a table
c.execute("CREATE TABLE distinct_taxa_table AS SELECT DISTINCT taxa FROM species")