In [3]:
import sqlite3

In [4]:
conn = sqlite3.connect("data/portal_mammals.sqlite")
# Create a SQL connection to our SQLite database
c = conn.cursor()

In [5]:
# The result of a "cursor.execute" can be iterated over by row
for row in c.execute('SELECT * FROM species LIMIT 5'):
    print(row)

('AB', 'Amphispiza', 'bilineata', 'Bird')
('AH', 'Ammospermophilus', 'harrisi', 'Rodent')
('AS', 'Ammodramus', 'savannarum', 'Bird')
('BA', 'Baiomys', 'taylori', 'Rodent')
('CB', 'Campylorhynchus', 'brunneicapillus', 'Bird')

In [6]:
import pandas as pd

In [8]:
df = pd.read_sql_query("SELECT * from species LIMIT 10", conn)

In [9]:
df.set_index('species_id')

                       genus          species     taxa
species_id
AB                Amphispiza        bilineata     Bird
AH          Ammospermophilus          harrisi   Rodent
AS                Ammodramus       savannarum     Bird
BA                   Baiomys          taylori   Rodent
CB           Campylorhynchus  brunneicapillus     Bird
CM               Calamospiza      melanocorys     Bird
CQ                Callipepla         squamata     Bird
CS                  Crotalus       scutalatus  Reptile
CT             Cnemidophorus           tigris  Reptile
CU             Cnemidophorus        uniparens  Reptile

In [25]:
c.execute("CREATE TABLE bird_species_another_yet_another AS SELECT * FROM species WHERE taxa='Bird'")

In [23]:
df_bird_species_another = pd.read_sql_query("SELECT * FROM bird_species_another", conn)

In [24]:
df_bird_species_another

   species_id            genus          species  taxa
0          AB       Amphispiza        bilineata  Bird
1          AS       Ammodramus       savannarum  Bird
2          CB  Campylorhynchus  brunneicapillus  Bird
3          CM      Calamospiza      melanocorys  Bird
4          CQ       Callipepla         squamata  Bird
5          PC           Pipilo        chlorurus  Bird
6          PG        Pooecetes        gramineus  Bird
7          PU           Pipilo           fuscus  Bird
8          SB         Spizella          breweri  Bird
9          UP           Pipilo              sp.  Bird
10         US          Sparrow              sp.  Bird
11         ZL      Zonotrichia       leucophrys  Bird
12         ZM          Zenaida         macroura  Bird